.jimu-widget-location .point-icon{
    margin-left: 3px;
    float: right;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: url(../../images/location.png);
}
.jimu-widget-location .point-icon.active{
    background-image: url(../../images/locationActive.png);
}

.jimu-widget-location .pic-icon{
    /*float: right;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: url(../../images/picLoad.png);*/
    position:absolute;
    right:0;
    top:0;
    font-size:100px;
    opacity:0;
    filter:alpha(opacity=0);
}
.jimu-widget-location .pic-a{
    float: right;
    display:inline-block;
    width:28px;
    height:28px;
    background-image: url(../../images/picLoad.png);
    position:relative;
    overflow:hidden;
}
.jimu-widget-location .pic-a:hover{
    background-image: url(../../images/picLoad.png);
    background-color: inherit;
}

.jimu-widget-location .okIcon{
    background-image: url(../../images/monitor/ok.png);
    width: 16px;
    height: 16px;
}
.jimu-widget-location .resetIcon{
    background-image: url(../../images/monitor/back.png);
    width: 16px;
    height: 16px;
}
