<div style="background-color: #ffffff;position: absolute;display: none;width: 70px;height: 115px">
    <div class="PMap_contextMenu" style="width: 70px;height: 115px;">
        <div id="cmitem_shap" data-type="shap" class="cmitem_item">
            ${nls.shapeedit}</div>
        <div id="cmitem_move" data-type="move" class="cmitem_item">
            ${nls.move}</div>
        <div id="cmitem_rotate" data-type="rotate" class="cmitem_item">
            ${nls.rotation}</div>
        <div class="PMap_cmDivider"></div>
        <div id="cmitem_edit" data-type="edit" class="cmitem_item">
            ${nls.propertyedit}</div>
        <div class="PMap_cmDivider"></div>
        <div id="cmitem_delete" data-type="delete" class="cmitem_item">
            ${nls.delete}<span id="delete_ico" class="cmitem_item cmitem_delete"></span></div>
    </div>
    <!--<div class="PMap_cmShadow" style="width: 108px;height: 110px;"></div>-->
</div>