<div style="background-color: #ffffff;border: 1px solid #cac3c3;">
    <div style="width:100%;padding: 0px 3px;">
        <div style="padding: 3px 0px;">
            <div data-dojo-attach-point="itemName1"  style="display:inline-block;font-weight: bold;"></div>
            <img src="jimu.js/magicgis/images/monitor/d2.png" data-dojo-attach-event="onclick:_onMoreClick" style="width: 16px;height: 16px; float: right;cursor: pointer;margin-left: 3px;" title="详细"/>
            <img data-dojo-attach-point="imgIconDiv" src="jimu.js/magicgis/images/monitor/picIcon.png" data-dojo-attach-event="onclick:_onPicClick" style="width: 16px;height: 16px; float: right;cursor: pointer;" title="图片信息"/>
        </div>
        <div style="padding: 3px 0px;">
            <div data-dojo-attach-point="itemName2"></div>
        </div>
        <div style="padding: 2px 0px;">
            <div data-dojo-attach-point="itemName3"></div>
        </div>
    </div>
</div>