<div style="background-color: #ffffff;position: absolute;display: none;width: 100px;height: 90px;box-shadow: 2px 5px 2px rgba(0,0,0,.15);">
    <div class="detail-box">
        <ul class="boxinfo">
            <li class="map-info mapContextInfo"><span class="info mapContextInfo"></span><i class="mapContextInfo">${nls.pipeinfo}</i>
            </li>
            <!--<li class="map-query mapContextQuery" title="${nls.attrtypetip}"><span class="query mapContextQuery"></span><i class="mapContextQuery">${nls.attribute}</i>
            </li>-->
            <li class="map-location mapContextLocation"><span class="location mapContextLocation"></span><i class="mapContextLocation">${nls.location}</i>
            </li>
            <li class="map-dlocation mapContextDLocation" title="${nls.dlocation}"><span class="dlocation mapContextDLocation"></span><i class="mapContextDLocation">${nls.dlocation}</i>
            </li>
        </ul>
    </div>
</div>

